<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="escrietConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=escriet;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <trust level="Full"/>
    <machineKey validationKey="CE449605CF7517024D7991B97082EA98D189D07C7B63E439586CF08CC665474F62430E05BCEA137196B59FD0FD61723F226E5FC695C9A54DD800ED0105B3343F" decryptionKey="DF7D406B26F9E34B4BCF8D35CFE6A1F89E7F7193DD84015B"/>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <urlMappings enabled="true">
      <add url="~/Home" mappedUrl="~/Default.aspx"/>
      <add url="~/Octavas" mappedUrl="~/Octavas.aspx"/>
      <add url="~/Aperture" mappedUrl="~/Aperture.aspx"/>
      <add url="~/Belletrist" mappedUrl="~/Belletrist.aspx"/>
      <add url="~/Sigma" mappedUrl="~/Sigma.aspx"/>
      <add url="~/Enquizitia" mappedUrl="~/Enquizitia.aspx"/>
      <add url="~/Fine_Arts" mappedUrl="~/Fine_Arts.aspx"/>
      <add url="~/Forgot_Password" mappedUrl="~/Forgot_Password.aspx"/>
      <add url="~/samsberk" mappedUrl="~/AdminLogin.aspx"/>
      <add url="~/Our_Alumni" mappedUrl="~/Alumni.aspx"/>
      <add url="~/Clubs" mappedUrl="~/Clubs.aspx"/>
      <add url="~/Contact_Us" mappedUrl="~/Contact.aspx"/>
      <add url="~/Query" mappedUrl="~/Query.aspx"/>
      <add url="~/Sign_Up" mappedUrl="~/SignUp.aspx"/>
      <add url="~/Startups_of_SCRIETians" mappedUrl="~/Startups.aspx"/>
      <add url="~/Student_Login" mappedUrl="~/StudentLogin.aspx"/>

      <add url="~/Student_Home" mappedUrl="StudentZone/Default.aspx"/>
      <add url="~/Reset_Password" mappedUrl="StudentZone/Password.aspx"/>
      <add url="~/Logging_out" mappedUrl="StudentZone/Logout.aspx"/>
      <add url="~/Update_Student_Profile" mappedUrl="StudentZone/Update_Student_Profile.aspx"/>

      <add url="~/Admin_Home" mappedUrl="AdminZone/AdminHome.aspx"/>
      <add url="~/Best_Out_of_Waste_Participation_List" mappedUrl="AdminZone/Boow.aspx"/>
      <add url="~/Documentary_Video_Participation_List" mappedUrl="AdminZone/DV.aspx"/>
      <add url="~/PPT_Presentation_Participation_List" mappedUrl="AdminZone/Pptp.aspx"/>
      <add url="~/Treasure_Hunt_Participation_List" mappedUrl="AdminZone/Th.aspx"/>
      <add url="~/Writing_Skills_Participation_List" mappedUrl="AdminZone/Ws.aspx"/>
      <add url="~/Graffiti_Participation_List" mappedUrl="AdminZone/Grft.aspx"/>
      <add url="~/Quiz_Participation_List" mappedUrl="AdminZone/Qz.aspx"/>
      <add url="~/Sketching_Participation_List" mappedUrl="AdminZone/Sktch.aspx"/>
      <add url="~/Painting_Participation_List" mappedUrl="AdminZone/Pnt.aspx"/>
      <add url="~/Code_Hunt_Participation_List" mappedUrl="AdminZone/Ch.aspx"/>
      <add url="~/Model_Making_Participation_List" mappedUrl="AdminZone/Mm.aspx"/>
      <add url="~/LAN_Gaming_NFS_Participation_List" mappedUrl="AdminZone/Lgnfs.aspx"/>
      <add url="~/LAN_Gaming_PUBG_Participation_List" mappedUrl="AdminZone/Lgp.aspx"/>
      <add url="~/Web_Designing_Participation_List" mappedUrl="AdminZone/Wd.aspx"/>
      <add url="~/Oratory_Skills_Participation_List" mappedUrl="AdminZone/Os.aspx"/>
      <add url="~/Face_Painting_Participation_List" mappedUrl="AdminZone/Fp.aspx"/>
      <add url="~/Dancing_Participation_List" mappedUrl="AdminZone/Dnc.aspx"/>
      <add url="~/Singing_Participation_List" mappedUrl="AdminZone/Sng.aspx"/>
      <add url="~/Poetry_Participation_List" mappedUrl="AdminZone/Ptry.aspx"/>
      <add url="~/Photography_Participation_List" mappedUrl="AdminZone/Phtg.aspx"/>
      <add url="~/Rangoli_Participation_List" mappedUrl="AdminZone/Rngly.aspx"/>
      <add url="~/Dramatics_Participation_List" mappedUrl="AdminZone/Drmtcs.aspx"/>
      <add url="~/Admin_Logout" mappedUrl="AdminZone/Logout.aspx"/>
      <add url="~/Alumni_Management" mappedUrl="AdminZone/Alumni_Management.aspx"/>
      <add url="~/Alumni_Details" mappedUrl="AdminZone/Alumni_Dt.aspx"/>
      <add url="~/Latest_Events" mappedUrl="AdminZone/LatestEvents.aspx"/>
      <add url="~/Updated_Reg_Print" mappedUrl="AdminZone/Updatedreg.aspx"/>

      <add url="~/Best_Out_of_Waste_Judgement_List" mappedUrl="AdminZone/MarksList/Boow.aspx"/>
      <add url="~/Documentary_Video_Judgement_List" mappedUrl="AdminZone/MarksList/DV.aspx"/>
      <add url="~/PPT_Presentation_Judgement_List" mappedUrl="AdminZone/MarksList/Pptp.aspx"/>
      <add url="~/Treasure_Hunt_Judgement_List" mappedUrl="AdminZone/MarksList/Th.aspx"/>
      <add url="~/Writing_Skills_Judgement_List" mappedUrl="AdminZone/MarksList/Ws.aspx"/>
      <add url="~/Graffiti_Judgement_List" mappedUrl="AdminZone/MarksList/Grft.aspx"/>
      <add url="~/Quiz_Judgement_List" mappedUrl="AdminZone/MarksList/Qz.aspx"/>
      <add url="~/Sketching_Judgement_List" mappedUrl="AdminZone/MarksList/Sktch.aspx"/>
      <add url="~/Painting_Judgement_List" mappedUrl="AdminZone/MarksList/Pnt.aspx"/>
      <add url="~/Code_Hunt_Judgement_List" mappedUrl="AdminZone/MarksList/Ch.aspx"/>
      <add url="~/Model_Making_Judgement_List" mappedUrl="AdminZone/MarksList/Mm.aspx"/>
      <add url="~/LAN_Gaming_NFS_Judgement_List" mappedUrl="AdminZone/MarksList/Lgnfs.aspx"/>
      <add url="~/LAN_Gaming_PUBG_Judgement_List" mappedUrl="AdminZone/MarksList/Lgp.aspx"/>
      <add url="~/Web_Designing_Judgement_List" mappedUrl="AdminZone/MarksList/Wd.aspx"/>
      <add url="~/Oratory_Skills_Judgement_List" mappedUrl="AdminZone/MarksList/Os.aspx"/>
      <add url="~/Face_Painting_Judgement_List" mappedUrl="AdminZone/MarksList/Fp.aspx"/>
      <add url="~/Dancing_Judgement_List" mappedUrl="AdminZone/MarksList/Dnc.aspx"/>
      <add url="~/Singing_Judgement_List" mappedUrl="AdminZone/MarksList/Sng.aspx"/>
      <add url="~/Poetry_Judgement_List" mappedUrl="AdminZone/MarksList/Ptry.aspx"/>
      <add url="~/Photography_Judgement_List" mappedUrl="AdminZone/MarksList/Phtg.aspx"/>
      <add url="~/Rangoli_Judgement_List" mappedUrl="AdminZone/MarksList/Rngly.aspx"/>
      <add url="~/Dramatics_Judgement_List" mappedUrl="AdminZone/MarksList/Drmtcs.aspx"/>


      <add url="~/Events" mappedUrl="Events/Events.aspx"/>
      <add url="~/Alumni_Registration" mappedUrl="Events/Alumnimeet.aspx"/>
      <add url="~/Placement_Registration" mappedUrl="Events/Placement_Registration.aspx"/>
    </urlMappings>
  </system.web>

</configuration>
